.homenaje-regular {
  font-family: "Homenaje", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
	box-sizing: border-box;
}
body {
	padding: 10px;
	background: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(10,10,10,1) 50%, rgba(128,128,128,1) 100%);
	content-visibility: auto;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow-x: visible;
	width: 100%;
	margin:0 auto;
}
p {
	margin-left: 10px;
	margin-right: 10px;
}
h1 {
	font-size: 2em;
	font-family: "Homenaje", sans-serif;
}
h4 {
	font-size: 1.5em;
	font-family: "Homenaje", sans-serif;
	padding: 0;
	margin: 10px;
}
a .btn {
	text-decoration: none;
}
.border {
	border: double 3px transparent;
	border-radius: 10px;
	background-image: linear-gradient(white, white), radial-gradient(circle at top right, #f00, #3020ff);
	--background-image: linear-gradient(white, white), radial-gradient(circle at top left, blue, red);
	background-origin: border-box;
	background-clip: content-box, border-box;
	margin: 10px 0px;
}
.header {
	padding: 0px;
	--font-size: 40px;
	font-size: 1em;
	text-align: center;
	background: none;
}
#logo {
	filter: drop-shadow(10px 10px 4px rgba(0,0,0,0.7));
	width: 333px;
}
.masked {
	display: inline-block;
	--background-image: linear-gradient(to bottom, navy, white);
	--background-image: conic-gradient(from 0.5turn at 50% 65%, cyan , dodgerblue, purple, dodgerblue, cyan);
	background-image: linear-gradient(45deg, blue, red);
	-webkit-mask-size: 95%; /* edges might get cut off if you use 100% */
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}
.masked > img {
	opacity: 0;
	display:block;
}
.maskedspec {
	display: inline-block;
	background-image: conic-gradient(from 0.5turn at 50% 65%, purple, red, gold, blue, purple);
	-webkit-mask-size: 95%; /* edges might get cut off if you use 100% */
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}
.maskedspec > img {
	opacity: 0;
	display:block;
}
.strapline {
	color: white;
	font-family: "Homenaje", sans-serif;
	font-size: 3em;
}
.leftcolumn {   
	float: left;
	width: 75%;
}
.rightcolumn {
	float: left;
	width: 25%;
	padding-left: 10px;
}
.bgChat {
	position: relative;
	background-color: black;
	width: 100%;
	height: 300px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid black;
	border-radius: 5px;
}
.bgBanner {
	position: relative;
	background-color: black;
	height: 300px;
	width: 100%;
	padding: 20px;
	border-radius: 5px;
}
.aboutcenter {
	display: block;
	justify-content: center;
	max-height: 250px;
	max-width: 95%;
	text-align: center;
	margin: auto;
}
.center {
	max-height: 95%;
    max-width: 95%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.blankBanner {
	background-color: grey;
	height: 300px;
	width: 100%;
	padding: 20px;
}
.bgSmall {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 45px;
	background-size: contain;
	background-repeat: no-repeat;
}
.card {
	background-color: white;
	padding-top: 1px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	margin-top: 10px;
	border-radius: 10px;
}
.rcard {
	background-color: white;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	margin-top: 10px;
	border-radius: 10px;
}
.scard {
	float: right;
	width: fit-content;
    height: fit-content;
	background-color: white;
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
}
.control {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}
.roundup {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center;
}
.title {
	font-family: "Homenaje", sans-serif;
	font-weight: 900;
	font-style: bolder;
	font-size: 1.5em;
	margin: 2px 0px;
	text-align: center;
}
.subtitle {
	font-family: "Homenaje", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	margin: 10px 0px;
}
.smalltitle {
	font-family: "Homenaje", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
	margin: 2px 0px;
	background-color: white;
	color: black;
}
.rtitle {
	font-family: "Homenaje", sans-serif;
	font-weight: 900;
	font-style: bolder;
	font-size: 1.3em;
	margin: 2px 0px;
	text-align: center;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 10px;
	padding: 3px;
	margin: 10px auto;
	width: 99%
}
.darker {
	border-color: #ccc;
	background-color: #ddd;
}
.container::after {
	content: "";
	clear: both;
	display: table;
}
.container img {
	float: left;
	max-width: 50px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
}
.container img.right {
	float: right;
	margin-left: 20px;
	margin-right:0;
}
.col-container {
	display: table;
	width: 100%;
	border-spacing: 6px 0px;
}
.pro {
	padding: 10px 10px;
	background-color: #ddffdd;
	border: 1px solid #04AA6D;
	border-left: 6px solid #04AA6D;
	display: table-cell;
	width: 50%;
	border-radius: 5px;
}
.con {
	padding: 10px 10px;
	background-color: #ffdddd;
	border: 1px solid #f44336;
	border-left: 6px solid #f44336;
	display: table-cell;
	width: 50%;
	border-radius: 5px;
}
.verdict {
	width: auto;
	margin-top: 6px;
	margin-bottom: 10px;
	margin-left: 6px;
	margin-right: 6px;
	padding: 10px 10px;
	background-color: #ffffcc;
	border: 1px solid #ffeb3b;
	border-left: 6px solid #ffeb3b;
	border-radius: 5px;
}
.checked {
	color: orange;
}
.badge {
	color: white;
	padding: 4px 8px;
	text-align: center;
	border-radius: 5px;
	font-family: "Homenaje", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.3em;
}
.score {
	background: MediumSeaGreen;
	padding: 1px 2px;
	font-size: small;
}
.new {
	background: red;
}
.old {
	background: green;
}
.hot {
	background-image: linear-gradient(to bottom, red, orange);
}
.fresh {
	background-image: linear-gradient(to bottom, mediumseagreen, greenyellow);
}
.audio {
	background-image: linear-gradient(to bottom, darkviolet, darkmagenta);
}
.tech {
	background-image: linear-gradient(to bottom, navy, cyan);
}
.review {
	background-image: linear-gradient(to bottom, red, purple);
}
.cool {
	background: -webkit-linear-gradient(Navy, White);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.coolrev {
	background-image: linear-gradient(to bottom, navy, silver);
}
.store {
	background-image: linear-gradient(to bottom, gold, orange);
}
.spooky {
	background-color: orange;
	color: white;
}
.controls {
	background-image: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(10,10,10,1) 50%, rgba(128,128,128,1) 100%);
	opacity: 0.8;
	cursor: pointer;
}
.controls:hover {
	opacity: 1.0;
}
.controls2 {
	background-image: linear-gradient(90deg,rgba(3, 36, 0, 1) 0%, rgba(35, 121, 9, 1) 35%, rgba(0, 255, 8, 1) 100%);
	opacity: 0.8;
	cursor: pointer;
}
.controls2:hover {
	opacity: 1.0;
}
.search {
	background-image: linear-gradient(to bottom, darkviolet, darkmagenta);
	opacity: 0.8;
	cursor: pointer;
}
.search:hover {
	opacity: 1.0;
}
.overlaytext {
	background-color: white;
	color: black;
	border: 1px solid black;
	font-family: "Homenaje", sans-serif;
	font-size: 6vw;
	font-weight: bold;
	margin: 0 auto;
	padding: 0px;
	width: 98%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.overlayspec {
	background-color: purple;
	color: white;
	font-family: "Homenaje", sans-serif;
	font-size: 6vw;
	font-weight: bold;
	margin: 0 auto;
	padding: 0px;
	width: 98%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.alignright {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}
.alignleft {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.thumbnail {
	transition: transform .2s;
	position: relative;
	border-radius: 5px;
}
.thumbnail:hover {
	-ms-transform: scale(1.30);
	-webkit-transform: scale(1.30);
	transform: scale(1.30);
	z-index:999;
}
.img-row {
  font-size: 0px;
  vertical-align: bottom;
}
div.hide {
	display: none;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
table {
	font-family: "Homenaje", sans-serif;
	border-collapse: collapse;
	width: 98%;
}
td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 7px;
}
tr:nth-child(even) {
	color: white;
	background-image: linear-gradient(to bottom, Navy, black);
}
tr:nth-child(odd) {
}
.thintable table{
	font-family: "Homenaje", sans-serif;
	border-collapse: collapse;
	width: fit-content;
	block-size: fit-content;
}
.thintable td{
	border: 1px solid grey;
	text-align: center;
	color: #303030;
	background-color: #F8F8F8;
	width: fit-content;
	padding: 0px;
}
.thintable th{
	border: 1px solid grey;
	color: #303030;
	background-color: #F8F8F8;
	width: fit-content;
	padding: 0px;
}
.controller, th, td {
	font-family: "Homenaje", sans-serif;
	border-collapse: collapse;
	width: 60%;
	border: 2px solid black;
}
.video {
	display: block;
	width: 80%;
	height: 450px;
	margin: auto; 
}
details {
	padding: 0px; 
	border: 1px solid black;
	color: black;
	background-image: linear-gradient(to bottom, silver, white);
	cursor: pointer;
}
summary::marker {
	color: black;
	font-size: 0.8em;
}
summary {
	list-style-type: '🠺 ';
}
details[open] > summary {
	list-style-type: '🠻 ';
}
.button {
	height: 50px;
	opacity: 0.8;
}
.button:hover {
	opacity: 1.0;
}
button {
	cursor: pointer;
	margin: 0 auto;
    display: block
}
.info {
	margin-bottom: 15px;
	padding: 4px 12px;
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
}
.warn {
	margin-bottom: 15px;
	padding: 4px 12px;
	background-color: #ffdddd;
	border-left: 6px solid #f44336;
}
.good {
	margin-bottom: 15px;
	padding: 4px 12px;
	background-color: #ddffdd;
	border-left: 6px solid #04AA6D;
}
.quote {
	position: relative;
	margin-bottom: 15px;
	padding: 12px 12px;
	background-color: #ededed;
}
.fa-quote-right{
	float: right;
	margin: 0 5px;
}
.titleUnderline {
	height: 3px;
	margin: auto;
	background: linear-gradient(90deg, rgba(128,128,128,0.7) 0%, rgba(128,128,128,0.2) 50%, rgba(128,128,128,0.7) 100%);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: 98%
}
 /* The navigation menu */
#nav-placeholder {
	top: 0px;
	position: sticky;
	position: -webkit-sticky;
	z-index:1000;
}
@media screen and (max-width: 480px) {
	.title {
		font-family: "Homenaje", sans-serif;
		font-weight: 900;
		font-style: bolder;
		font-size: 1.2em;
		margin: 2px 0px;
		text-align: center;
	}
}
.btn {
	text-decoration: none !important;
	background-color: silver;
	color: black;
	vertical-align: middle;
	font-size: 30px;
	height: 50px;
	width: auto;
	padding: 4px;
	font-family: "Homenaje", sans-serif;
	border-radius: 5px;
	border: 1px solid black;
}
.btn:hover {
	opacity: 0.7;
	cursor: pointer;
}
.btnx {
	background-color: black;
	color: white;
	border-radius: 5px;
	vertical-align: middle;
	font-size: 30px;
	height: 50px;
	width: auto;
	padding: 4px;
	font-family: "Homenaje", sans-serif;
}
.btnx:hover {
	opacity: 0.7;
	cursor: pointer;
}
.btnbs {
	background-color: WhiteSmoke;
	color: rgba(8,134,254,255);
	border-radius: 5px;
	border: 1px solid black;
	vertical-align: middle;
	font-size: 30px;
	height: 50px;
	width: auto;
	padding: 4px;
	font-family: "Homenaje", sans-serif;
}
.btnbs:hover {
	opacity: 0.7;
	cursor: pointer;
}
.storecard {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.7);
  max-width: 40%;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.price {
  color: grey;
  font-size: 1.5em;
}
.storecard button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1.2em;
}
.storecard button:hover {
  opacity: 0.7;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
}

#myBar {
  width: 10%;
  height: 30px;
  background-image: linear-gradient(90deg, blue, red);
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}
/* buttons */
.padbut {
	display:inline-block;
	vertical-align:middle;
	width:30px;
	margin-left: 5px;
	margin-right: 5px;
}

.containerRP {
	display: grid;
	grid-template-columns: 90% 10%;
	gap: 3px;
}
.containerRP div {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Dicon {
	background-color: #f1f1f1;
	color: black;
	font-size: 20px;
	border-radius: 10px;
}
.Dicon:hover {
	background-image: linear-gradient(to bottom, darkviolet, darkmagenta);
	color: white;
	cursor: pointer;
}
.RDicon:hover {
	-webkit-filter: drop-shadow(4px 4px 4px black);
	filter: drop-shadow(4px 4px 4px black);
	cursor: pointer;
	border-radius: 10px;

}

/* if screen is < 800px wide columns stack */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .storecard {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.7);
  max-width: 80%;
  margin: auto;
  text-align: center;
  font-family: arial;
  }
  .controller, th, td {
	font-family: "Homenaje", sans-serif;
	border-collapse: collapse;
	width: 100%;
	border: 2px solid black;
	}
}