body {
background: rgb(10,10,10);
background: linear-gradient(90deg, rgba(10,10,10,1) 0%, rgba(128,128,128,1) 50%, rgba(10,10,10,1) 100%);   
font-family: Arial, Helvetica, sans-serif;
}
h1 {
	text-align: center;
	color: white;
	text-shadow: 1.5px 2px #000000;
}
select {
	width: auto;
	height: 35px;
	font-size: 22px;
	background-color: grey;
}
.thumbnail {
	width: 400px;
	height: 180px;
	background-size: 225px;
	background-position: 5px 8px;
	background-repeat: no-repeat;
	display: inline-block;
	border: thin solid #C1BED1;
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-shadow: 1.5px 2px #000000;
	font-size: 17px;
}
#main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#canvas {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: natural;
	height: natural;
	border: 5px solid #FFC001;
	border-color: #C1BED1;
	z-index: 1000;
	background: #C1BED1;
}
#frame {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 640px;
	min-height: 440px;
	background: #C1BED1;
	background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('WALLPAPER.png');
	border: 3px solid #FFC001;
	border-color: #C1BED1;
	box-shadow: -1px 1px 5px 7px rgba(0,0,0,0.5);
	z-index: 999;
	touch-action: none;
	user-select: none;
}
#frametitle {
	color: #011DA9;
	background-color: #C1BED1;
	text-align: center;
	font-size: 22px;
}
#frametitle2 {
	color: #011DA9;
	background-color: #C1BED1;
	text-align: center;
	font-size: 22px;
}
#a1 {
	font-size: 17px;
}
#p2-1 {
	font-size: 17px;
}
#art {
	font-size: 0;
	max-height: 180px;
	padding: 2px;
	overflow: auto;
	scrollbar-gutter: auto | stable && both-edges?;
}
#container {
	max-height: 180px;
	padding: 2px;
	overflow: auto;
}
#expak {
	position: fixed;
	left: 0px;
	top: -2px;
	--right: 2px;
	--bottom: 222px;
	width: 29px;
	height: 29px;
}
#NSO {
	position: inline-block;
	left: 32px;
	top: 0px;
	--right: 2px;
	--bottom: 222px;
	width: 25px;
	height: 25px;
}
.got {
	cursor: pointer;
}
#cOwn::after {
	content: " I own this cart!";
}
#gOwn::after {
	content: " I own this game!";
}
#dOwn::after {
	content: " I own this disk!";
}
#bOwn::after {
	content: " I've got the box..";
}
#mOwn::after {
	content: " I have the manual..";
}
#sOwn::after {
	content: " Mines MINT sealed!";
}
#nfrOwn::after {
	content: " It's rare, but I own this cart!";
}
#altOwn::after {
	content: " I own the colour variant!";
}
.thumbs {
	display: block;
	position: relative;
	width: 140px;
	height: 100px;
}
.thumbs:hover {
	border: 2px solid #C20D02;
	margin: -2px;
	z-index: 1 !important;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 640px;
  grid-template-rows: 50% 50%;
  height: 440px;
  --background-color: white;
  padding: 0px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #C1BED1;
  padding: 5px;
  font-size: 18px;
  text-align: left;
}
.closebtn {
  position: absolute;
  top:-5px;
  right: 2px;
  color: #C20D02;
  font-size: 30px;
  cursor: pointer;
  z-index: 999;
}
.closebtn:hover {
  color: lightgrey;
  z-index: 999;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlaytext{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.buttonU {
	position: fixed;
	top: 1px;
	left: 4px;
    background-color: #C1BED1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonU:hover {
    background-color: white;
    color: black;
}
#searcher {
	position: fixed;
	top: 65px;
	left: 6px;
	display: inline-block;
	width: 52px;
}
#searcher:hover {
	width: 150px;
}
#tally {
	position: fixed;
	top: 5px;
	right: 5px;
	height: 105px;
	width: 85px;
	background-color: rgba(0,100,100,0.5);
    --background-color: rgba(194,13,2,0.5);
    border: none;
    color: rgba(255,255,255,100);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
	text-shadow: 1.5px 2px #000000;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
#reload {
	vertical-align:middle;
	width: 100px;
	color: white;
	opacity: 0.5;
	display: inline;
    cursor: pointer;
}
#reload:hover {
	opacity: 1;
}
#list {
	vertical-align:middle;
	width: 100px;
	color: white;
	opacity: 0.5;
	display: inline-block;
    cursor: pointer;
}
#list:hover {
	opacity: 1;
}
#regNuke {
	width: 50px;
	color: white;
	opacity: 0.5;
	display: inline;
    cursor: pointer;
}
#regNuke:hover {
	opacity: 1;
}
#backup {
	position: fixed;
	top: 135px;
	right: 60px;
	height: 50px;
	width: 50px;
	color: white;
	opacity: 0.5;
	display: inline-block;
    cursor: pointer;
}
#backup:hover {
	opacity: 1;
}
#restore {
	position: fixed;
	top: 135px;
	right: 5px;
	height: 50px;
	width: 50px;
	color: white;
	opacity: 0.5;
	display: inline-block;
    cursor: pointer;
}
#restore:hover {
	opacity: 1;
}
#nuke {
	position: fixed;
	top: 190px;
	right: 60px;
	height: 50px;
	width: 50px;
	opacity: 0.5;
	display: inline-block;
    cursor: pointer;
}
#nuke:hover {
	opacity: 1;
}
#tweet {
	background-image: url('TWEET.png');
	background-size: cover;
	position: fixed;
	top: 190px;
	right: 5px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	opacity: 0.5;
	text-shadow: 1.5px 2px #000000;
	display: inline-block;
    cursor: pointer;
}
#tweet:hover {
	opacity: 1;
}
#navL {
	height: 42px;
	width: 42px;
	opacity: 0.5;
	position: relative;
	top: -5px;
}
#navL:hover {
	opacity: 1;
}
#navR {
	height: 42px;
	width: 42px;
	opacity: 0.5;
	position: relative;
	top: -5px;
}
#navR:hover {
	opacity: 1;
}
#start {
	height: 42px;
	width: 42px;
	opacity: 0.5;
	position: relative;
	top: -5px;
}
#start:hover {
	opacity: 1;
}
.buttonD {
	position: fixed;
	top: 90%;
	left: 4px;
    background-color: #C1BED1;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonD:hover {
    background-color: white;
    color: black;
}
#BOXPNG{
	display:inline-block;
	vertical-align:middle;
	background:url('BOX.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:35px;
	width:35px;
}
#MANPNG{
	display:inline-block;
	vertical-align:middle;
	background:url('MANUAL.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:35px;
	width:35px;
}
#SLDPNG{
	display:inline-block;
	vertical-align:middle;
	background:url('SEALED.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:35px;
	width:35px;
}
#DDDPNG{
	display:inline-block;
	vertical-align:middle;
	background:url('DISK.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:35px;
	width:35px;
}
#IQPNG{
	display:inline-block;
	vertical-align:middle;
	background:url('IQUE.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:35px;
	width:35px;
}
#LRGPNG{
	display:inline-block;
	vertical-align:middle;
	background:url('LRG.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:35px;
	width:35px;
}
#NFRPNG{
	display:inline-block;
	vertical-align:middle;
	background:url('NFR.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:35px;
	width:35px;
}
#ALTPNG{
	display:inline-block;
	vertical-align:middle;
	background:url('ALT.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:35px;
	width:35px;
}
#SCNPNG{
	display:inline-block;
	vertical-align:middle;
	background:url('SCN.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:30px;
	width:35px;
}
#FAHPNG{
	display:inline-block;
	vertical-align:middle;
	background:url('FAH.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:30px;
	width:35px;
}
#FRGPNG{
	display:inline-block;
	vertical-align:middle;
	background:url('FRG.png');
	background-size: contain;
	background-repeat:no-repeat;
	height:30px;
	width:35px;
}
.flag {
	display:inline-block;
	vertical-align:middle;
	font-size: 35px;
}
.spesh {
	display:inline-block;
	vertical-align:middle;
	background-size: contain;
	background-repeat:no-repeat;
	height:41px;
	width:35px;
}
	
#art:hover {
	cursor: zoom-in;
}
.footer {
	color: white;
	text-shadow: 1.5px 2px #000000;
}